@import url(http://fonts.googleapis.com/css?family=Open+Sans);
#topmenu,
#topmenu ul,
#topmenu ul li,
#topmenu ul li a,
#topmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  background: #FFFFFF;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#topmenu:after,
#topmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#topmenu #menu-button {
  display: none;
}
#topmenu {
  width: auto;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  background: #ffffff;

  border-bottom: 1px solid #9900CC;

}

.user-account{
  background: #bdc3c7;
}

#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: #9900CC;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#topmenu > ul > li.left {
  float: left;
}

#topmenu > ul > li.right {
  float: right;
}
#topmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#topmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#topmenu.align-center ul ul {
  text-align: left;
}
#topmenu.align-right > ul > li {
  float: right;
}
#topmenu.align-right ul ul {
  text-align: right;
}
#topmenu > ul > li > a {
  padding: 20px;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#topmenu > ul > li:hover > a,
#topmenu > ul > li.active > a {
  color: #9900CC;
}
#topmenu > ul > li.has-sub > a {
  padding-right: 25px;
}
#topmenu > ul > li.has-sub > a::after {
  position: absolute;
  top: 21px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#topmenu > ul > li.has-sub:hover > a::after {
  border-color: #9900CC;
}
#topmenu ul ul {
  position: absolute;
  left: -9999px;
}
#topmenu li:hover > ul {
  left: auto;
}
#topmenu.align-right li:hover > ul {
  right: 0;
}
#topmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#topmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#topmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#topmenu ul li:hover > ul > li {
  height: 32px;
}
#topmenu ul ul li a {
  padding: 10px 20px;
  width: 160px;
  font-size: 12px;
  background: #9900CC;
  text-decoration: none;
  color: #dddddd;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
<<<<<<< HEAD

=======
>>>>>>> 25c78ec67f7343aa9978f34f2383c4a3b3f153b1
#topmenu ul ul li:hover > a,
#topmenu ul ul li a:hover {
  color: #ffffff;
}
#topmenu ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#topmenu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#topmenu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #topmenu {
    width: 100%;
  }
  #topmenu ul {
    width: 100%;
    display: none;
  }
  #topmenu.align-center > ul,
  #topmenu.align-right ul ul {
    text-align: left;
  }
  #topmenu ul li,
  #topmenu ul ul li,
  #topmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(120, 120, 120, 0.15);
  }
  #topmenu ul li a,
  #topmenu ul ul li a {
    width: 100%;
  }
  #topmenu > ul > li,
  #topmenu.align-center > ul > li,
  #topmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #topmenu ul ul li a {
    padding: 20px 20px 20px 30px;
    font-size: 12px;
    color: #000000;
    background: none;
  }
  #topmenu ul ul li:hover > a,
  #topmenu ul ul li a:hover {
    color: #000000;
  }
  #topmenu ul ul ul li a {
    padding-left: 40px;
  }
  #topmenu ul ul,
  #topmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  #topmenu > ul > li.has-sub > a::after,
  #topmenu ul ul li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #topmenu #menu-button {
    display: block;
    padding: 20px;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
  }
  #topmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 15px;
    height: 2px;
    background: #000000;
  }
  #topmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 25px;
    right: 20px;
    display: block;
    width: 15px;
    height: 3px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
  }
  #topmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.15);
    height: 52px;
    width: 52px;
    cursor: pointer;
  }
  #topmenu .submenu-button::after {
    content: '';
    position: absolute;
    top: 21px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #000000;
    z-index: 99;
  }
  #topmenu .submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 26px;
    display: block;
    width: 11px;
    height: 1px;
    background: #000000;
    z-index: 99;
  }
  #topmenu .submenu-button.submenu-opened:after {
    display: none;
  }
}

.carousel-indicators .active{
  background-color:#660066;
}

.carousel-indicators li{
  background-color:#000000;
}